@font-face {
   font-family: 'MSJHBD';
   font-display: swap;
   src: url('file:///Users/auohrd/Library/Application%20Support/Mobirise.com/Mobirise/projects/project-2020-07-22_145851/fonts/MSJHBD/Mabry-Black-Pro.otf');
}
